<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>this_bores_me.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2323CBE1DFCC4EB00F71B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2323CD21DFCC4EB00F71B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2323CDD1DFCC4EB00F71B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
